@model BackEnd.Entities.Candidato

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Registro</h1>

<h3>Esta seguro(a) que desea eliminar este registro?</h3>
<div>
    <h4>Candidato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCandidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCandidato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoCandidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoCandidato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpCandidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpCandidato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradoEstudio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradoEstudio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoCandidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoCandidato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaInteres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaInteres)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(Model => Model.CorreoUsuario)
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Lista de Candidatos</a>
    </form>
</div>
