@model FrontEnd.Models.CandidatoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CandidatoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCandidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCandidato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoCandidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoCandidato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpCandidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpCandidato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradoEstudio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradoEstudio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoCandidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoCandidato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaInteres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaInteres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoUsuario)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
