@model IEnumerable<FrontEnd.Models.CandidatoViewModel>

@{
    ViewData["Title"] = "listaCandidatosAPI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>listaCandidatosAPI</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCandidato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoCandidato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpCandidato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradoEstudio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoCandidato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaInteres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCandidato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoCandidato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpCandidato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradoEstudio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoCandidato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaInteres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoUsuario)
            </td>
            <td>
                <input type="button" value="Ver más" class="btn btn-primary" 
                                           onclick="location.href='@Url.Action("Details", "Candidato", new { id = item.CorreoUsuario})'">
            </td>
        </tr>
}
    </tbody>
</table>
