@model IEnumerable<FrontEnd.Models.CandidatoViewModel>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Candidatos</h4>
            <div class="table-responsive">
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCandidato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoCandidato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpCandidato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradoEstudio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaDescripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCandidato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoCandidato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpCandidato) años
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradoEstudio) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaDescripcion)
            </td>
            <td>
                @Html.HiddenFor(modelItem=>item.CorreoUsuario)
                <input type="button" value="Contacto" class="btn btn-primary" 
                                           onclick="location.href='@Url.Action("Details", "Candidato", new { correo = item.CorreoUsuario})'">
            </td>
        </tr>
}
    </tbody>
</table>

  </div>
        </div>
    </div>
</div>
