@model IEnumerable<BackEnd.Entities.usuarioReclutador>

@{
    ViewData["Title"] = "listaReclutadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>listaReclutadores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CorreoReclutador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreReclutador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoReclutador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoReclutador)
            </th>
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoReclutador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreReclutador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoReclutador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoReclutador)
            </td>
            
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
