@model IEnumerable<FrontEnd.Models.EmpleoViewModel>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @{
                if (HttpContextAccessor.HttpContext.Session.GetString("ROL").Equals("1"))
                {
                    <h4 class="card-title">Empleos publicados</h4>
                }else{
                    <h4 class="card-title">Empleos disponibles</h4>
                }
            }
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EmpleoNombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Compania)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoriaDescripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ExpMinima)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GradoEstudio)
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmpleoNombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Compania)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoriaDescripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpMinima)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GradoEstudio)
                                </td>
                                <td>                                    
                                    <input type="button" value="Ver más" class="btn btn-primary" 
                                           onclick="location.href='@Url.Action("Details", "Empleo", new { id = item.IdEmpleo })'">
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>