@model IEnumerable<FrontEnd.Models.SolicitudViewModel>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
 @{
    string rol = HttpContextAccessor.HttpContext.Session.GetString("ROL");
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @{
                if (rol.Equals("1"))
                {
                    <h4 class="card-title">Solicitudes recibidas</h4>
                }else{
                    <h4 class="card-title">Solicitudes enviadas</h4>
                }
            }
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>    
                            <th>
                                @Html.DisplayNameFor(model => model.EmpleoNombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaSolicitud)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EstadoPuesto)
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpleoNombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaSolicitud)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstadoPuesto)
                        </td>
                        <td>
                        @if (rol.Equals("1"))
                        {
                            <input type="button" value="Contacto"class="btn btn-primary" 
                                    onclick="location.href='@Url.Action("Details", "Candidato", new { id = item.CorreoCandidato })'">
                        } else
                        {
                            <input type="button" value="Ver empleo" class="btn btn-primary" 
                                    onclick="location.href='@Url.Action("Details", "Empleo", new { id = item.IdEmpleo })'">  
                        }
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
